<template id="headerTemplate">
    <style>
        .header {
            background: #eee;
            padding: 5px 5px 0;
            border-bottom: 2px solid #4a90e2;
        }

        .header__display {
            display: flex;
            padding-bottom: 5px;
            align-items: center;
            justify-content: space-between;
        }

        .header__items {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .header__item {
            display: inline-block;
            height: 25px;
            padding: 0 5px;
            line-height: 25px;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
        }

        .header__user {
            cursor: pointer;
        }

        .header__user:after {
            content: "→";
            display: inline-block;
            margin-left: 5px;
        }

        .configure {
            margin: 0 -10px;
            padding: 0 10px;
            background-color: #ddd;
        }
    </style>
    <div class="header">
        <div class="header__display">
            <ul class="header__items">
                <li class="header__item" id="filterDones">Filter</li>
                <li class="header__item" id="sendMail">Report</li>
                <li class="header__item">Options</li>
            </ul>
            <div class="profile" id="profile"></div>
        </div>
        <div class="configure" id="configure"></div>
    </div>
</template>