<template id="headerTemplate">
    <style>
        .header {
            background: #eee;
            padding: 5px 5px 0;
            border-bottom: 2px solid #4a90e2;
        }

        .header__display {
            display: flex;
            padding-bottom: 5px;
            align-items: center;
            justify-content: space-between;
        }

        .configure {
            margin: 0 -10px;
            padding: 0 10px;
            background-color: #ddd;
        }
    </style>
    <div class="header">
        <div class="header__display">
            <ids-menu></ids-menu>
            <div class="profile" id="profile"></div>
        </div>
        <div class="configure" id="configure">
            <ids-filter class="hide"></ids-filter>
            <ids-teams class="hide"></ids-teams>
        </div>
    </div>
</template>