<template id="reportTemplate">
    <style>
        .report-type {
            display: flex;
            justify-content: space-between;
        }

        .report-type__button {
            width: 49%;
            margin: 5px 0 0;
            border: 0 none;
            padding: 0 5px;
            box-sizing: border-box;
            height: 30px;
            color: #F4F4F4;
            background-color: #5D99E5;
            cursor: pointer;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            line-height: 30px;
        }
        .report-type__button:active {
            background-color: #538CD3;
        }
        .report-type__button:focus,
        .report-type__button:active {
            outline: 0 none;
        }
    </style>
    <div id="reportDonesNode" class="report-dones">
        <div class="report-type">
            <a class="report-type__button" id="reportByText" target="_blank">Plain Text</a>
            <a class="report-type__button" id="reportByHTML">HTML</a>
        </div>
    </div>
</template>