<template id="ids-filter-template">
    <style>
        .hide .request-form {
            display: none;
        }
        
        .request-form {
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;
        }

        .request-form > input:focus {
            background: #FFF;
            outline: 0 none;
            box-shadow: 0 0 1px #5D99E5;
        }

        .request-form__date,
        .request-form__hashtag,
        .request-form__get {
            width: 135px;
            margin-top: 5px;
            border: 0 none;
            padding: 0 5px;
            box-sizing: border-box;
            background-color: #F9F9F9;
        }

        .request-form__date,
        .request-form__hashtag {
            height: 30px;
            margin-right: 5px;
        }

        .request-form__date {
            flex-basis: 130px;
            flex-grow: 2;
            font-family: Helvetica, Arial, sans-serif;
        }

        .request-form__date::-webkit-inner-spin-button {
            display: none;
        }
        .request-form__date::-webkit-clear-button {
            position: relative;
            right: 3px;
            margin-top: -1px;
            cursor: pointer;
        }

        .request-form__hashtag {
            flex-basis: 170px;
            flex-grow: 3;
        }

        .request-form__get {
            flex-basis: 90px;
            flex-grow: 1;
            height: 30px;
            color: #F4F4F4;
            background-color: #5D99E5;
            cursor: pointer;
        }
        .request-form__get:active {
            background-color: #538CD3;
        }
        .request-form__get:focus,
        .request-form__get:active {
            outline: 0 none;
        }
    </style>

    <div class="request-form">
        <input type="date" class="request-form__date">
        <input type="text" placeholder="tags (comma-separated)" class="request-form__hashtag">
        <button class="request-form__get" id="idc-filter-submit-button">GET</button>
    </div>
</template>